html,
body,
#app {
  margin: 0;
  padding: 0;
  height: 100%;
}
a,
a:link,
a:visited,
a:hover,
a:active {
  color: inherit; /* 继承父级文字颜色 */
  text-decoration: none; /* 去掉下划线（如果需要） */
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

input,
button {
  outline: none;
  border: none;
}
